<% content_for :title do %>About<% end %>
<!--Author box-->
<div class="author-box">
    <!--Name-->
    <h3 class="h3-responsive text-center">About Me</h3>
    <hr>
    <div class="row">
        <!--Avatar-->
        <div class="col-12 col-sm-2">
            <%#= link_to gravatar_for(@user), users_path, class: "img-fluid rounded-circle z-depth-2" %>
        </div>
        <!--Author Data-->
        <div class=" col-12 col-sm-10">
            <p><strong>Cleveland Williams</strong></p>
            <div class="personal-sm">
                <a class="email-ic"><i class="fa fa-home"> </i></a>
                <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
            </div><br>

            <p>I started out with computer repair & building high end gaming computers from my junior high school days about 15 years ago. After building computers for so long, I became interested in web development after which I encountered valuable resources. Among them were Coding Dojo an onsite bootcamp, Udemy and FreeCodeCamp</p>
            <p class="hidden-md-down">The Coding Dojo courses were focused on laying a foundation for web development. The instructors were awesome and very knowledgeable. I started out by learning the fundamentals of HTML, CSS and JavaScript. The instructors taught us three full stacks including Python, M.E.A.N and Ruby on Rails. After the first few weeks of building cool web apps with different frameworks, my love affair with web development began. I would literally spend hours working on projects while implimenting new features and techniques. Web development is now my obsession and without it feels like a part of me is missing.
            </p>
        </div>
    </div>
</div>
<!--/.Author box-->
