<%= render 'layouts/register' %>
<div class="container-fluid">
  <div class="jumbotron-home wow zoomIn text-white center"><br><br>
    <h1>Welcome Fellow Chefs</h1><br>
    <h3>Share your recipes with the world!</h3>
      <a type="button" class="btn btn-danger " data-toggle="modal" data-target="#modal-register">
        Sign up or Log in
      </a>
  </div>
</div><br>
<h3 class="center">Recipe Chart</h3>
<%= pie_chart Recipe.group(:name).count %>
