<%= render 'layouts/register' %>
<div class="container-fluid">
  <div class="jumbotron-home wow zoomIn text-white center"><br><br>
    <h1 class="text-middle" id="font">Share your recipes with the world!</h1><br>
      <a type="button" class="btn btn-danger home-btn" data-toggle="modal" data-target="#modal-register">
        Sign up or Log in
      </a>
  </div>
</div><br>

<!--Section: Team v.1-->
<section class="section team-section">

    <!--Section heading-->
    <h1 class="section-heading">Amazing Chefs</h1>
    <!--Section description-->

    <!--First row-->
    <div class="row text-center">

        <!--First column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle">
            </div>
            <h4>Anna Deynah</h4>
            <!--Pinterest-->
            <a class="btn btn-pin btn-lg">
                <i class="fa fa-thumbs-up"></i>
            </a>
            <span class="counter">22</span>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle">
            </div>
            <h4>John Doe</h4>
            <!--Pinterest-->
            <a class="btn btn-pin btn-lg">
                <i class="fa fa-thumbs-up"></i>
            </a>
            <span class="counter">22</span>

        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle">
            </div>

            <h4>Maria Kate</h4>
            <!--Pinterest-->
            <a class="btn btn-pin btn-lg">
                <i class="fa fa-thumbs-up"></i>
            </a>
            <span class="counter">22</span>
        </div>
        <!--/Third column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle">
            </div>
            <h4>Maria Kate</h4>
            <!--Pinterest-->
            <a class="btn btn-pin btn-lg">
                <i class="fa fa-thumbs-up"></i>
            </a>
            <span class="counter">22</span>

        </div>
        <!--/Fourth column-->

    </div>
    <!--/First row-->

</section>
<!--/Section: Team v.1-->
