<%= render 'layouts/register' %>
<div class="container-fluid">
  <div class="jumbotron-home wow zoomIn text-white center"><br><br><br><br>
    <h1 class="text-center" id="font">Sensei Chef</h1><br>
    <h3 class="text-center" id="font">Share your recipes with the world!</h3>
      <a href="/signup" type="button" class="btn btn-danger home-btn">
        Sign up or Log in
      </a>
  </div>
</div><br>
<!--Section: Team v.1-->
<section class="section team-section">
  <h1 class="section-heading">Amazing Chefs</h1>
  <!--First row-->
  <div class="row text-center">
      <!--First column-->
    <% Chef.last(4).each do |chef| %>
      <div class="col-lg-3 col-md-6 mb-r">
        <div class="avatar">
            <%= gravatar_for chef, size: 150 %>
        </div>
        <h4><%= chef.chefname.capitalize %></h4>
        <!--Thumbs-->
        <a class="btn btn-li btn-lg">
          <i class="fa fa-thumbs-up fa-2x"></i>
        </a>
          <span class="counter-home"><%= chef.likes.count %></span>
      </div>
      <!--/First column-->
    <% end %>
  </div>
  <!--/First row-->
</section>
<!--/Section: Team v.1-->
