<%= render 'layouts/register' %>
<div class="jumbotron-home text-white center"><br><br>
  <h1>Welcome to my recipe app</h1><br>
  <h2>Sharing is caring!</h2>
  <a href="/users/sign_up" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-register">
  Sign up or Log in
  </a>
</div><br>
<%= line_chart Recipe.group(:name).group(:created_at).count %>
