$primary-red: #CC0000;
// new-nav===========================================

nav {
	text-align:center;
  font-family: 'Pacifico', cursive;
  font-size: 1em !important;
	width:100%;
	height:auto;
	background:none;
  background-color: $primary-red;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
.bar nav ul li a {
	color:#fff;
	display:inline-block;
	padding: .5em .5em;
	text-decoration:none !important;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	font-size:16px;
}

/*styling open close button*/
.button {
	display:inline;
	position:absolute;
	right:50px;
	top:6px;
	z-index:999;
	font-size:30px;
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#333;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#34B484;
}
.btn-close:after {
	color:#fff;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #34B484;
}

@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}

}

.btn-link {
  text-decoration: none !important;
}

.nav-btn {
  line-height: 0!important;
}
