/* YOUR CUSTOM STYLES */

$primary-red: #CC0000;

.full-bg-img {
	color: #fff;
}

.title {
	font-weight:100;
}

.payment .fa:not(:first-child) {
	margin-left:10px;
	color:rgba(255,255,255,.8);
}

input[type="text"]:focus:not([readonly]) {
	border-color:#C00;
	box-shadow:0 1px 0 0 #C00;
	/*color:#fff;*/
}

input[type="text"]:not([readonly])+label {
	/*color:rgba(255,255,255,.65);*/
}

input[type="text"]:focus:not([readonly])+label {
	/*color:#fff;*/
}

.green {
 background: #00C851 !important;
}

.fa-exclamation-triangle {
	color: $primary-red !important;
}

.faa-flash.animated, .faa-flash.animated-hover:hover, .faa-parent.animated-hover:hover>.faa-flash {
    -webkit-animation: flash 5s ease infinite;
    animation: flash 5s ease infinite;
    color: $primary-red !important;
}


.recipe-actions {
	.fa-bomb {
		color: $primary-red !important;
	}
	
}
