/* YOUR CUSTOM STYLES */

$primary-red: #CC0000;

.full-bg-img {
	color: #fff;
}

.title {
	font-weight:100;
}

.payment .fa:not(:first-child) {
	margin-left:10px;
	color:rgba(255,255,255,.8);
}

input[type="text"]:focus:not([readonly]) {
	border-color:#C00;
	box-shadow:0 1px 0 0 #C00;
	/*color:#fff;*/
}

input[type="text"]:not([readonly])+label {
	/*color:rgba(255,255,255,.65);*/
}

input[type="text"]:focus:not([readonly])+label {
	/*color:#fff;*/
}

.green {
 background: #00C851 !important;
}

.fa-exclamation-triangle {
	color: $primary-red !important;
}

.faa-flash.animated, .faa-flash.animated-hover:hover, .faa-parent.animated-hover:hover>.faa-flash {
    -webkit-animation: flash 5s ease infinite;
    animation: flash 5s ease infinite;
    color: $primary-red !important;
}


.recipe-actions {
	.fa-bomb {
		color: $primary-red !important;
	}

}

.fa-pencil {
  color: #FFB841 !important;
}

.fa-trash {
  color: #CC0000 !important;
}

.fa-clock-o {
 color: #0A76B7;
}

li {
  text-decoration: none;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #00C851;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: $primary-red;
}

.messages {
 height: 16em;
 border: 1px solid #eaeaea;
 overflow: auto;
 position: relative;
}
