<br><br><br>
<!--Footer-->
<footer class="page-footer danger center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Sensei Chef</h5>
                <p></p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Recipes</h5>
                <ul>
                  <% Recipe.all.last(4).each do |recipe| %>
                    <li><a href="#!"><%= link_to recipe.name, recipe_path(recipe) %></a></li>
                  <% end %>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.cleveland-williams.com"> senseichef.com </a>
          <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket  faa-horizontal animated-hover" ><i></i></a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
